html {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    font-size: 1rem;
    background-color: #4e89ae;
    color:white;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 5rem;
}

ul {
    align-self: start;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    color: black;
}

li {
    padding: 1rem;
    
}

a {
    text-decoration: none;
    color:#43658b;
}