html {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    font-size: 2rem;
    background-color: #4e89ae;
    color:white;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif; 
    color: black;
    margin: 1.5rem 5rem;
}

ul {
    align-self: start;
}

li {
    padding: 1rem;
}


a {
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-top: 1.5rem;
    height: 3rem;
    background-color: #43658b;
}