html {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 2rem;
    background-color: #4e89ae;
    color:white;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    padding: 2rem;
    font-family: 'Arial';
    color:black;
    font-size: 2rem;
}

h3 {
    padding: 1rem;
    font-family: 'Arial';
    color:black;
    font-size: 2rem;
    font-weight: bold;
}

li {
    padding: 0.5rem;
    font-family: 'Arial';
}

a {
    padding: 1rem;
    font-family: 'Arial';
    color:#4e89ae;
}